body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 20px 0;
  border: 10px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #2b6777;
  border: 15px;
  padding: 50px;
  margin: auto;
  width: 50%;
}

.dataOutput {
  background-color: #c8d8e4; 
  height: 100px
}

.foot {
  position: absolute;
  bottom: 35%;
}